/*
  Details:
    Source: "https://stormzulien.github.io/"

    By Stormzulien (Jay)

    Started: 09/02/2026,
    Last Updated: 09/02/2026
    
    (Format: DD/MM/YYYY)

  Notes:
*/

html, body {
  background: #6590c9;
  background: linear-gradient(118deg, rgba(101, 144, 201, 1) 0%, rgba(187, 181, 255, 1) 99%);
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}

main {
  margin-top: 1em;
  background-color: #FFFFFF60;
  backdrop-filter: blur(6px);
  border-radius: 1.8em;
  border: 1px solid var(--google-blue);
  max-width: 440px;
  width: 100%;
  padding: 1.4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  z-index: 999;
  transition: all 0.15s;
}

#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

#bio p {
  margin: 0.2em;
  font-size: 0.98em;
}

#deco-clouds {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#deco-clouds * {
  position: absolute;
  user-select: none;
  z-index: 1;
}

#deco-clouds #cloud-0 {
  width: 200px;
  top: 30px;
  left: 10%;
}

#deco-clouds #cloud-1 {
  width: 200px;
  top: 0px;
  right: 0px;
}

#deco-clouds #cloud-2 {
  width: 170px;
  bottom: 40%;
  left: 30%;
}

#deco-clouds #cloud-3 {
  width: 160px;
  right: 80px;
  bottom: 90px;
}

#deco-clouds #cloud-4 {
  width: 200px;
  left: 20px;
  bottom: 40px;
}

#deco-clouds #cloud-5 {
  width: 180px;
  top: 80px;
  left: 50%;
}

#links-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.4em;
  margin-top: 1em;
}

#links-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-link {
  width: 78%;
  background-color: aliceblue;
  display: grid;
  justify-items: start;
  align-content: center;
  grid-template-columns: 3em 1fr;
  column-gap: 1em;
  padding: 0.9em 1.3em;
  border-radius: 1em;
  border: 1px solid darkcyan;
  text-decoration: none;
  color: black;
  cursor: pointer;
  height: 2.8em;

  transition: all 0.15s;
}

footer {
  padding: 1.2em;
  z-index: 10;
}

@supports (corner-shape: squircle) {
  main, .social-link {
    corner-shape: squircle;
    border-radius: 3em;
  }

  .social-link {
    border-radius: 2em;
  }
}

.social-link:hover {
  background-color: #DFE9F2;
}

.social-link .social-icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-container img.social-icon {
  width: 100%;
  user-select: none;
}

.social-link .content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  row-gap: 0.2em;
}

.social-link .platform-name {
  font-weight: bold;
  font-size: 1.1em;
}

.social-link .username {
  color: grey;
  font-size: 0.9em;
}

.copy-msg {
  font-weight: bold;
  color: darkgrey;
  font-style: italic;
}

.elon {
  background-image: url("../../media/images/elonsraeltir/elon_small.webp");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

@media (height < 400px) {
  #deco-clouds #cloud-2, #deco-clouds #cloud-3, #deco-clouds #cloud-4 {
    display: none;
  }
}

@media (width < 450px) {
  main {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  #deco-clouds #cloud-0, #deco-clouds #cloud-3 {
    display: none;
  }
}

@media (width < 700px) {
  #deco-clouds #cloud-2, #deco-clouds #cloud-5 {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #002e6b;
    background: linear-gradient(118deg,rgba(0, 46, 107, 1) 0%, rgba(106, 88, 138, 1) 99%);
    background-attachment: fixed;
    color: white;
  }

  main {
    background-color: #7D6BB4C0;
  }

  #bio {
    color: white;
  }

  .social-link {
    background-color: #0d2b52;
    color: white;
  }

  .social-link:hover {
    background-color: #1c457a;
  }

  .social-link .username {
    color: lightblue;
  }

  .elon {
    color: black;
  }

  .elon .username {
    color: black;
  }

}
