@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Noto+Color+Emoji&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  Stormzulien, 
  Last Edited: 25/01/2026; UTC 21:59 (d/m/y; h:m)
*/

:root {
  --google-green: #0F9D58;
  --google-yellow: #F4B400;
  --google-blue: #4285F4;
  --google-red: #DB4437;
  /* https://partnermarketinghub.withgoogle.com/brands/google-play/visual-identity/color-palette/ */
}

html, body, header, footer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Roboto", "Arial", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.3em;
  padding: 0;
}

#smiley {
  width: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

button {
  cursor: pointer;
  padding: 10px 16px;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: var(--google-blue);
  color: white;
  border-radius: 9999px;
  transition: all 0.12s;
}

button:hover {
  opacity: 0.86;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

header h4 {
  color: lightgrey;
}

main {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px;
}

#img-penguin {
  max-width: 400px;
  width: 100%;
  display: block;
}

.credits {
  color: grey;
  margin: 6px 0px;
}

.credits a {
  color: grey;
  text-decoration: none;
  transition: all 0.12s;
}

.credits a:visited {
  color: grey;
  text-decoration: none;
}

.credits a:hover {
  color: blue;
}

#longer-btn {
  display: block;
}

#cancel-btn {
  background-color: var(--google-red);
  margin: 12px;
  display: none;
}

#blank-content {
  height: 0px;
}

#end-msg-1 {
  display: none;
  margin-top: 1000px;
  padding: 18px;
}

@media(prefers-color-scheme: dark) {
  html {
    color: white;
  }

  body {
    background-color: black;
  }

  .credits a:hover {
    color: lightblue;
  }
}